/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, block, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, block {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #1e1e1e;
    color: #fff;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1023px;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
}

i {
    font-style: italic;
}

p.info {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 30px;
}

p.info strong {
    color: #ffe100;
    font-size: 20px;
    font-weight: 700;
}

.cta {
    text-align: center;
    margin: 0 0 30px 0;
}
.cta a {
    font-size: 20px;
    font-weight: 700;
    padding: 13px 30px;
    margin: 0 auto 30px auto;
    border: 3px solid #ffe100;
}
.cta a:hover {
    color: black;
    background: #ffe100;
}

#logo {
    margin: -10px 0 0 -50px;
    position: absolute;
}

header {
    margin: 11px 0 50px 150px;
}

header p {
    font-size: 25px;
    font-weight: 600;
    text-align: right;
}

header p sup {
    font-size: 17px;
}

header p.partner {
    font-size: 80%;
    color: #c5c5c5;
}

header p.partner a {
    position: relative;
    top: 20px;
    left: 9px;
    background: transparent;
}

header p.partner a:hover {
    background: black;
}

#at {
    font-size: 70%;
    color: #c5c5c5;
    position: relative;
    top: -5px;
    margin: 0 5px;
}
#in {
    font-size: 70%;
    color: #c5c5c5;
    margin: 0 5px;
}


a #medialablogo {
    fill: white;
    transition: 500ms fill;
}
a:hover #medialablogo {
    fill: #ffe100;
}

h1, h2, h3 {
    font-family: "Neue Haas Grotesk Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}
h2 {
    font-size: 40px;
    font-weight: 700;
    color: #ffe100;
}
h3 {
    font-size: 40px;
    background: #ffe100;
    color: black;
    font-weight: 700;
    padding: 10px 20px;
    letter-spacing: -1px;
}
h3#schedule {
    background-color: #6a29ff;
    text-align: right;
}
h4 {
    font-size: 30px;
    font-weight: 700;
}
h5 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}

.person-thumbs {
    padding: 10px 0 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 78px 78px 78px;
}
.person-thumbs a {
    display: block;
    margin: 0;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(90%);
    transition: 300ms filter;
}

.person-thumbs a:hover {
    filter: grayscale(100%) brightness(120%);
}

a {
    background-color: black;
    padding: 4px 3px;
    margin: 0 -1px;
    color: white;
    transition: 300ms color;
    transition: 300ms background-color;
    text-decoration: none;
}

a:hover {
    color: #ffe100;
    text-decoration: underline;
}

.schedule p {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 30px;
}

.schedule .blocks {
    margin: 30px 0;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-auto-flow: column;
}

.block {
    border-left: 5px solid #747474;
    padding: 0 0 0 20px;
}
.block .time {
    background: #1e1e1e;
    font-size: 15px;
    padding-bottom: 8px;
    position: relative;
    left: -25px;
    display: inline-block;
}
.block h4 {
    font-size: 25px;
}
.block p {
    margin: 10px 0 0;
}
.block .sm-thumbs {
    display: flex;
    margin-top: 10px;
}
.block .sm-thumbs a {
    display: block;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(90%);
    transition: 300ms filter;
}
.block.session {
    grid-row-end: span 3;
}
.block.session .time {
    font-weight: bold;
}

.person {
    padding: 30px 0 0 0;
    border-bottom: 1px solid #747474;
}
.person:after {
    content: "";
    clear: both;
    display: table;
}
@keyframes flashTarget
{
    0%   {background: rgb(80, 80, 80);}
    100%  {background: transparent;}
}
.person:target {
    animation: flashTarget 1s;
    -webkit-animation: flashTarget 1s;
}

.person img, .block .sm-thumbs a {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    object-fit: cover;
}

.person img {
    float: left;
    width: 300px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.person h4 {
    position: relative;
    top: -2px;
    left: -5px;
}

.person h4 a {
    padding: 10px;
    background: transparent;
    position: relative;
    left: -5px;
}

.block p, .person p, .person ul {
    font-size: 13px;
    line-height: 20px;
    color: #c5c5c5;

    overflow: hidden;
    text-overflow: ellipsis;
}
.person p, .person ul {
    margin: 20px 0 20px 0;
    margin-left: 340px;
}

.person ul ul {
    margin: 0 0 0 20px;
}

.person ul {
    margin-left: 360px
}

footer {
    font-size: 15px;
    color: #aaaaaa;
    margin-top: 20px;
}

#site-by-case {
    float: right;
}


@media only screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) {
    p.info {
        font-size: 14px;
        line-height: 1.5;
    }
    .cta {
        margin: 80px 0 90px 0;
    }
    .cta a {
        font-size: 30px;
        padding: 20px 50px;
    }
    .schedule .blocks {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-row-gap: 50px;
    }
    .person-thumbs {
        padding: 10px 0 30px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 130px 130px 130px 130px;
    }

    .block .sm-thumbs {
        margin-top: 30px;
    }
    .block .sm-thumbs a {
        margin-right: 30px;
        width: 120px;
        height: 120px;
    }
    .block .time {
        font-size: 35px;
    }
}
